<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand text-secondary">
    Ranjit Kumar Maddala
  </a>
<ul class="nav justify-content-end">
    <!-- Image and text -->
  
    <li class="nav-item">
      <a class="nav-link active" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Interested Areas</a>
    </li>
  </ul>
</nav>
<hr>

